.options-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#current-page {
  min-height: 100%;
  flex-grow: 1;
}

.options-container .color-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

#Transparent {
  border: 3px solid #b36af0;
}

.color-btn.active {
  border: 3px solid #b36af0;
}

.options-container .category-btn {
  width: 98px;
  height: 40px;
  margin-right: 10px;
  background: #b46af063;
  border-radius: 8px;
  align-items: center;
  border: 2px solid #b36af0;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.category-btn.active {
  background: #b36af0;
}

.cards-container .cart-alert-container {
  margin-top: 50px;
  background: #0e0f21;
  border-radius: 10px;
  }
.cards-container .cart-alert-img{
 max-width: 50%;
}

@media(max-width: 576px) {
  .options-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 25px;
  }
  .filter-container{
    margin-bottom: 20px;
  }
  .options-container .category-btn {
    margin-bottom: 20px;
  }
}